# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.out

# Folders
_obj
_test
bin
vendor
_build

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.coverprofile
*.out

# Vim temporary files
*.swp
*.swo
.*.swp
.*.swo

.DS_Store
.history

# IDE files
.vscode
.history
.idea

# Python
__pycache__
env

# K3S files
kubeconfig.yaml
e2e/framework/maestro/kubeconfig.yaml

# MkDocs
site/