# to run define K3S_TOKEN, K3S_VERSION is optional, eg:
#   K3S_TOKEN=${RANDOM}${RANDOM}${RANDOM} docker-compose up
version: '3'
name: maestro
services:
  k3s_server:
    image: "rancher/k3s:v1.19.11-k3s1"
    command: server --node-name control-plane
    tmpfs:
    - /run
    - /var/run
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    privileged: true
    restart: always
    environment:
    - K3S_TOKEN=maestro
    - K3S_KUBECONFIG_OUTPUT=/output/kubeconfig.yaml
    - K3S_KUBECONFIG_MODE=666
    volumes:
    - k3s-server:/var/lib/rancher/k3s
    # This is just so that we get the kubeconfig file out
    - ./kubeconfig:/output
    ports:
    - 6443:6443  # Kubernetes API Server
    - 80:80      # Ingress controller port 80
    - 443:443    # Ingress controller port 443

  k3s_agent:
    image: "rancher/k3s:v1.19.11-k3s1"
    tmpfs:
    - /run
    - /var/run
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    privileged: true
    restart: always
    environment:
    - K3S_URL=https://k3s_server:6443
    - K3S_TOKEN=maestro

  postgres:
    image: postgres:9.6.9
    ports:
    - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql
    environment:
    - POSTGRES_DB=maestro
    - POSTGRES_USER=maestro
    - POSTGRES_PASSWORD=maestro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 10s
      retries: 5

  redis:
    image: redis:6.2.0-alpine
    ports:
    - "6379:6379"
    healthcheck:
      test:  [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 10s
      retries: 5

volumes:
  k3s-server: {}
  postgres: {}
