version: '3.8'
services:

  management-api:
    build:
      context: ../../..
      dockerfile: ./e2e/framework/maestro/Dockerfile
    environment:
      - MAESTRO_ADAPTERS_ROOMSTORAGE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_SCHEDULERSTORAGE_POSTGRES_URL=postgres://maestro:maestro@postgres:5432/maestro?sslmode=disable
      - MAESTRO_ADAPTERS_OPERATIONFLOW_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_OPERATIONSTORAGE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_OPERATIONLEASESTORAGE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_INTERNALAPI_PORT=8081
      - MAESTRO_API_PORT=8080
    ports:
      - "8080:8080"
      - "8081:8081"
    command: [start, management-api, -l, development]
    depends_on:
      postgres:
        condition: service_healthy

  rooms-api:
    build:
      context: ../../..
      dockerfile: ./e2e/framework/maestro/Dockerfile
    environment:
      - MAESTRO_ADAPTERS_ROOMSTORAGE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_INSTANCESTORAGE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_RUNTIME_KUBERNETES_KUBECONFIG=/kubeconfig/kubeconfig.yaml
      - MAESTRO_ADAPTERS_RUNTIME_KUBERNETES_MASTERURL=https://k3s_server:6443
      - MAESTRO_ADAPTERS_SCHEDULERCACHE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_SCHEDULERSTORAGE_POSTGRES_URL=postgres://maestro:maestro@postgres:5432/maestro?sslmode=disable
      - MAESTRO_INTERNALAPI_PORT=8071
      - MAESTRO_API_PORT=8070
    ports:
      - "8070:8070"
      - "8071:8071"
    volumes:
      - ../../../kubeconfig:/kubeconfig
    command: [start, rooms-api, -l, development]
    depends_on:
      postgres:
        condition: service_healthy

  runtime-watcher:
    build:
      context: ../../..
      dockerfile: ./e2e/framework/maestro/Dockerfile
    environment:
      - MAESTRO_ADAPTERS_SCHEDULERSTORAGE_POSTGRES_URL=postgres://maestro:maestro@postgres:5432/maestro?sslmode=disable
      - MAESTRO_ADAPTERS_ROOMSTORAGE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_INSTANCESTORAGE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_RUNTIME_KUBERNETES_KUBECONFIG=/kubeconfig/kubeconfig.yaml
      - MAESTRO_ADAPTERS_RUNTIME_KUBERNETES_MASTERURL=https://k3s_server:6443
      - MAESTRO_ADAPTERS_SCHEDULERCACHE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_INTERNALAPI_PORT=8061
    ports:
      - "8061:8061"
    volumes:
      - ../../../kubeconfig:/kubeconfig
    command: [start, runtime-watcher, -l, development]

  worker:
    build:
      context: ../../..
      dockerfile: ./e2e/framework/maestro/Dockerfile
    environment:
      - MAESTRO_ADAPTERS_SCHEDULERSTORAGE_POSTGRES_URL=postgres://maestro:maestro@postgres:5432/maestro?sslmode=disable
      - MAESTRO_ADAPTERS_OPERATIONFLOW_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_OPERATIONSTORAGE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_ROOMSTORAGE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_OPERATIONLEASESTORAGE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_INSTANCESTORAGE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_ADAPTERS_RUNTIME_KUBERNETES_KUBECONFIG=/kubeconfig/kubeconfig.yaml
      - MAESTRO_ADAPTERS_RUNTIME_KUBERNETES_MASTERURL=https://k3s_server:6443
      - MAESTRO_ADAPTERS_SCHEDULERCACHE_REDIS_URL=redis://redis:6379/0
      - MAESTRO_WORKERS_OPERATIONEXECUTION_HEALTHCONTROLLERINTERVAL=5s
      - MAESTRO_INTERNALAPI_PORT=8051
      - MAESTRO_WORKERS_HEALTHCONTROLLERINTERVAL=5s
      - MAESTRO_WORKERS_STORAGECLENUPINTERVAL=5s
    ports:
      - "8051:8051"
    volumes:
      - ../../../kubeconfig:/kubeconfig
    command: [start, worker, -l, development]
    depends_on:
      postgres:
        condition: service_healthy

  k3s_server:
    image: "rancher/k3s:v1.22.7-k3s1"
    command: server --bind-address k3s_server --node-name control-plane
    tmpfs:
    - /run
    - /var/run
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    privileged: true
    restart: always
    environment:
    - K3S_TOKEN=maestro
    - K3S_KUBECONFIG_OUTPUT=/output/kubeconfig.yaml
    - K3S_KUBECONFIG_MODE=666
    volumes:
    # This is just so that we get the kubeconfig file out
      - ../../../kubeconfig:/output

    ports:
    - "6443:6443"  # Kubernetes API Server

  k3s_agent:
    image: "rancher/k3s:v1.22.7-k3s1"
    tmpfs:
    - /run
    - /var/run
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    privileged: true
    restart: always
    environment:
    - K3S_URL=https://k3s_server:6443
    - K3S_TOKEN=maestro

  postgres:
    image: postgres:9.6.9
    ports:
    - "5432:5432"
    environment:
    - POSTGRES_DB=maestro
    - POSTGRES_USER=maestro
    - POSTGRES_PASSWORD=maestro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 10s
      retries: 5

  redis:
    image: redis:6.2.0-alpine
    ports:
    - "6379:6379"
    healthcheck:
      test:  [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 10s
      retries: 5

  grpc-mock:
    image: tkpd/gripmock
    command: /events.proto
    ports: 
    - "4770:4770"
    - "4771:4771"
    volumes:
     - ../../../test/data/events.proto:/events.proto

volumes:
  kubeconfig: {}
  eventsproto: {}
