---
name: scheduler-name
game: game-name
image: nginx:alpine
occupiedTimeout: 180
ports:
- containerPort: 8080
  protocol: TCP
  name: tcp
shutdownTimeout: 10
autoscaling:
  min: 2
  up:
    cooldown: 30
    delta: 1
    trigger:
      usage: 70
      time: 60
      threshold: 80
  down:
    cooldown: 30
    delta: 1
    trigger:
      usage: 50
      time: 60
      threshold: 80
