api:
  port: 8080
  gracefulShutdownTimeout: 10s
  metrics:
    enabled: true

internalApi:
  port: 8081
  gracefulShutdownTimeout: 10s
  metrics:
    enabled: true
  healthcheck:
    enabled: true

adapters:
  redis:
    poolSize: 500
  schedulerStorage:
    postgres:
      url: "postgres://maestro:maestro@localhost:5432/maestro?sslmode=disable"
  schedulerCache:
    redis:
      url: "redis://localhost:6379/0"
  operationStorage:
    redis:
      url: "redis://localhost:6379/0"
      operationsTtl:
        healthController: 24h
  operationFlow:
    redis:
      url: "redis://localhost:6379/0"
  operationLeaseStorage:
    redis:
      url: "redis://localhost:6379/0"
  roomStorage:
    redis:
      url: "redis://localhost:6379/0"
  instanceStorage:
    redis:
      url: "redis://localhost:6379/0"
  portAllocator:
    random:
      range: 60001-60010
  runtime:
    kubernetes:
      inCluster: false
      masterUrl: "https://127.0.0.1:6443"
      kubeconfig: "./kubeconfig/kubeconfig.yaml"
workers:
  syncInterval: 10s
  stopTimeoutDuration: 1m
  redis:
    operationsTTL: 24h
  healthControllerInterval: 1m
  storageClenupControllerInterval: 3h
metricsReporter:
    intervalMillis: 10000

services:
  roomManager:
    roomPingTimeoutMillis: 240000
    roomInitializationTimeoutMillis: 120000
    roomDeletionTimeoutMillis: 120000
    roomValidationAttempts: 3
  operationManager:
    operationLeaseTTLMillis: 5000
  eventsForwarder:
    schedulerCacheTTLMillis: 120000

migration:
  path: "file://app/migrations"
