internalApi:
  port: 8081
  gracefulShutdownTimeout: 10s
  metrics:
    enabled: true
  healthcheck:
    enabled: true
managementApi:
  port: 7070
  gracefulShutdownTimeout: 10s
adapters:
  schedulerStorage:
    postgres:
      url: "postgres://maestro:maestro@localhost:5432/maestro?sslmode=disable"
  operationFlow:
    redis:
      url: "redis://localhost:6379/0"
  operationStorage:
    redis:
      url: "redis://localhost:6379/0"
  operationLeaseStorage:
    redis:
      url: "redis://localhost:6379/0"
  roomStorage:
    redis:
      url: "redis://localhost:6379/0"
  schedulerCache:
    redis:
      url: "redis://localhost:6379/0"