extensions:
  pg:
    host: "localhost"
    port: 8585
    user: "maestro_test"
    pass: ""
    poolSize: 20
    maxRetries: 3
    database: "maestro_test"
    connectionTimeout: 100
  redis:
    url: redis://localhost:6333
    connectionTimeout: 200
watcher:
  autoScalingPeriod: 10
  lockKey: "maestro-lock-key"
  lockTimeoutMs: 180000
  gracefulShutdownTimeout: 300
worker:
  syncPeriod: 10
  gracefulShutdownTimeout: 300
scaleUpTimeoutSeconds: 300
scaleDownTimeoutSeconds: 300
deleteTimeoutSeconds: 150
pingTimeout: 300
occupiedTimeout: 180
updateTimeoutSeconds: 600
newrelic:
  app: maestro
  key: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
oauth:
  acceptedDomains: 
  - "example.com"
  - "other.com"
