name: Lint
on: pull_request
jobs:
  linters:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      - name: Golang lint
        run: |
          make lint/go
      - name: Protobuf lint
        run: |
          make lint/protobuf
      - name: License check
        run: |
          make license-check
