name: Test
on: push
jobs:
  unit:
    name: Unit
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: '1.17.13'
    - name: Checkout
      uses: actions/checkout@v2
    - name: Restore cache
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
    - name: Run tests
      env:
        GOBINPATH: ~/go/bin/
      run: |
        make setup-ci
        make test-ci
    - name: Send coverage
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ~/go/bin/goveralls -coverprofile=_build/coverage-all.out -service=github
